<a href="https://colab.research.google.com/github/sundarp17/Data-science/blob/main/groupby/grouping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Grouping and Data aggregation**

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

**Grouping data by column index**

In [3]:
cars = pd.read_csv(r'/content/mtcars.csv')
cars.columns = ['car_names','mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']
cars.head()

           car_names   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [4]:
car_groups = cars.groupby(cars['cyl'])
car_groups.mean()

           mpg        disp          hp  ...        am      gear      carb
cyl                                     ...
4    26.663636  105.136364   82.636364  ...  0.727273  4.090909  1.545455
6    19.742857  183.314286  122.285714  ...  0.428571  3.857143  3.428571
8    15.100000  353.100000  209.214286  ...  0.142857  3.285714  3.500000

[3 rows x 10 columns]

In [5]:
car_am =cars.groupby(cars['am'])
car_am.mean()

          mpg       cyl        disp  ...        vs      gear      carb
am                                   ...
0   17.147368  6.947368  290.378947  ...  0.368421  3.210526  2.736842
1   24.392308  5.076923  143.530769  ...  0.538462  4.384615  2.923077

[2 rows x 10 columns]